{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home')  }}">Home</a></li>
        <li class="breadcrumb-item active">Home</li>
    </ul>
{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Hello</div>

                <div class="card-body">
                    Your site
                </div>
            </div>
        </div>
    </div>
{% endblock %}
