{% extends 'base.html.twig' %}

{% block title %}Cabinet{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home')  }}">Home</a></li>
        <li class="breadcrumb-item active">Cabinet</li>
    </ul>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">Cabinet</div>

            <div class="card-body">
                You are logged in!
            </div>
        </div>
    </div>
{% endblock %}
