<ul class="nav nav-tabs mb-3">
    <li class="nav-item"><a class="nav-link" href="{{ path('admin_dashboard') }}">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link active" href="{{ path('admin_user_index') }}">Users</a></li>
</ul>