{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home')  }}">Home</a></li>
        <li class="breadcrumb-item active">Register</li>
    </ul>

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-details page-login mt-2">
                        <h1 class="h3 mb-2 text-center font-weight-normal title-gradient-1">
                            Registration
                        </h1>
                        {{ form_start(registrationForm) }}
                        <div class="form-group">
                            {{ form_label(registrationForm.email) }}
                            {{ form_widget(registrationForm.email) }}
                            {{ form_errors(registrationForm.email) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(registrationForm.plainPassword) }}
                            {{ form_widget(registrationForm.plainPassword) }}
                            {{ form_errors(registrationForm.plainPassword) }}
                        </div>

                        <div class="form-footer">
                            <div class="row">
                                <div class="col-lg-4">
                                    <button type="submit" class="btn btn btn-success">
                                        SIGN UP
                                    </button>
                                </div>
                                <div class="col-lg-8">
                                    <div class="custom-control custom-checkbox">
                                        {{ form_widget(registrationForm.agreeTerms) }}
                                        {{ form_label(registrationForm.agreeTerms) }}
                                        {{ form_errors(registrationForm.agreeTerms) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
