<div class="card mb-3">
    <div class="card-header">Filter</div>
    <div class="card-body">
        {{ form_start(form) }}
            <div class="row">
                <div class="col-sm-1">
                    <div class="form-group">
                        {{ form_label(form.id) }}
                        {{ form_widget(form.id) }}
                        <div class="form-error">
                            {{ form_errors(form.id) }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                        <div class="form-error">
                            {{ form_errors(form.name) }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        <div class="form-error">
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        {{ form_label(form.status) }}
                        {{ form_widget(form.status) }}
                        <div class="form-error">
                            {{ form_errors(form.status) }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        {{ form_label(form.roles) }}
                        {{ form_widget(form.roles) }}
                        <div class="form-error">
                            {{ form_errors(form.roles) }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <br />
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>