{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_user_index') }}">Users</a></li>
        <li class="breadcrumb-item active">Edit</li>
    </ul>
{% endblock %}

{% block body %}
    {% include 'admin/navbar.html.twig' %}

    <div class="card-body">
        {{ form_start(form) }}

        <div class="form-group row">
            <div class="col-md-1">
                {{ form_label(form.name) }}
            </div>
            <div class="col-md-11">
                {{ form_widget(form.name) }}
                <div class="form-error">
                    {{ form_errors(form.name) }}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-1">
                {{ form_label(form.email) }}
            </div>
            <div class="col-md-11">
                {{ form_widget(form.email) }}
                <div class="form-error">
                    {{ form_errors(form.email) }}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-1">
                {{ form_label(form.password) }}
            </div>
            <div class="col-md-11">
                {{ form_widget(form.password) }}
                <div class="form-error">
                    {{ form_errors(form.password) }}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-1">
                {{ form_label(form.status) }}
            </div>
            <div class="col-md-11">
                {{ form_widget(form.status) }}
                <div class="form-error">
                    {{ form_errors(form.status) }}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-1">
                {{ form_label(form.roles) }}
            </div>
            <div class="col-md-11">
                {{ form_widget(form.roles) }}
                <div class="form-error">
                    {{ form_errors(form.roles) }}
                </div>
            </div>
        </div>

        <hr/>
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <button type="submit" class="btn btn-primary">
                    Save changes
                </button>
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}