{% extends 'base.html.twig' %}

{% block title %}All Users{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item active">Users</li>
    </ul>
{% endblock %}

{% block body %}
    {% include 'admin/navbar.html.twig' %}

    <p><a href="{{ path('admin_user_create') }}" class="btn badge-success">Add User</a></p>

    {% include 'admin/partials/table_filtration.html.twig' with {
        'form': form
    } %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        {% for user in pagination %}
            <tr>
                <td>{{ user.id }}</td>
                <td><a href="{{ path('admin_user_show', {'id': user.id}) }}">{{ user.name }}</a></td>
                <td>{{ user.email }}</td>
                <td>
                    {% if user.status == "Waiting" %}
                       <span class="badge badge-secondary">Waiting</span>
                    {% endif %}
                    {% if user.status == "Active" %}
                       <span class="badge badge-primary">Active</span>
                    {% endif %}
                </td>
                <td>
                    {% if "ROLE_ADMIN" in user.roles %}
                       <span class="badge badge-danger">Admin</span>
                    {% else %}
                        <span class="badge badge-secondary">User</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}