{% extends 'base.html.twig' %}

{% block title %}{{ user.name }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_user_index') }}">Users</a></li>
        <li class="breadcrumb-item active">{{ user.name }}</li>
    </ul>
{% endblock %}

{% block body %}
    {% include 'admin/navbar.html.twig' %}

    <div class="d-flex flex-row mb-2">
        <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-primary m-1">Edit</a>
        <a href="{{ path('admin_user_delete', {'id': user.id}) }}" class="btn btn-danger m-1">Delete</a>
    </div>

    <table class="table table-bordered table-striped">
        <tbody>
        <tr>
            <th>ID</th><td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Name</th><td>{{ user.name }}</td>
        </tr>
        <tr>
            <th>Email</th><td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>
                {% if user.isWait %}
                    <span class="badge badge-secondary">Waiting</span>
                {% endif %}
                {% if user.isActive %}
                    <span class="badge badge-primary">Active</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Role</th>
            <td>
                {% if "ROLE_ADMIN" in user.roles %}
                    <span class="badge badge-danger">Admin</span>
                {% else %}
                    <span class="badge badge-secondary">User</span>
                {% endif %}
            </td>
        </tr>

        <tbody>
        </tbody>
    </table>
{% endblock %}