<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- CSRF Token -->
        {# <meta name="csrf-token" content="{{ csrf_token('intention') }}">#}
        <title>{% block title %}Adverts{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        <script src="{{ asset('build/js/app.js') }}"></script>
        {% block javascripts %}
            {#{{ encore_entry_script_tags('js/app') }}#}
        {% endblock %}
    </head>
    <body id="app">
        {% include 'header.html.twig' %}

        <main class="app-content py-3">
            <div class="container">
                {% block breadcrumbs %}{% endblock %}
                {% include 'partials/flash.html.twig' %}
                {% block body %}{% endblock %}
            </div>
        </main>

        {% include 'footer.html.twig' %}
    </body>
</html>
