<header>
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ path('home') }}" target="_blank" class="d-none d-sm-inline-block btn btn-sm btn-default shadow-sm">
                Go to main site
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav mr-auto">
                </ul>
                <!-- Right Side Of Navbar -->
                <ul class="navbar-nav ml-auto">
                    {% if not is_granted('ROLE_USER') %}
                        <li><a class="nav-link" href="{{ path('app_login') }}">Login</a></li>
                        <li><a class="nav-link" href="{{ path('app_register') }}">Register</a></li>
                    {% else %}
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown no-arrow">
                                <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user.useridentifier }}</span>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path('admin_dashboard') }}">Admin</a>
                                    <a class="dropdown-item" href="{{ path('cabinet') }}">Cabinet</a>
                                    <a class="dropdown-item" href="{{ path('app_logout') }}">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>
                        </ul>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>